.sticky-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #fff;
    color: $colorLightBlack;
    -webkit-box-shadow: 0 3px 20px 0 #737373;
    box-shadow: 0 3px 20px 0 #737373;
    z-index: 100;
}
.sticky-menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;        
    height: 55px;       
}
.nav__logo {
    z-index: 3;
}
.nav__menu {
    @media (max-width: 950px) {
        text-align: center;
        position: fixed;
		top: -200%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color:  #fff;;
		padding: 70px 10px 20px 10px;
		-webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
}
.nav__menu.active {
    top: 0;
}
body.lock {
    overflow: hidden;
}
.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
    @media (max-width: 950px) {
        text-align: center;
        display: block;
        width: 50%;
        margin: 0 auto;
    }
}
.nav__item {
    margin: 0 0 0 40px;
    display: inline-block;
    @media (max-width: 950px) {
        text-align: center;
        display: block;
        margin: 20px 0 10px 0;
    }
}
.nav__link {
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 0.12em;
    color: $colorLightBlack;
    text-transform: uppercase;
    @media (max-width: 950px) {
        font-size: 2em;
    }
}

/* Burger */
.menu__burger {
    cursor: pointer;
    display: none;
    position: relative;
    width: 20px;
    height: 19px;
    z-index: 3;
    
    @media (max-width: 950px) {
        display: block;
    }
    &::before, &::after {
        content: '';
    }
    &::before, &::after, span {
        width: 100%;
        height: 3px;
        position: absolute;
        background-color: $colorBlack;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    span {
        top: 8px;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    &.active span {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    &.active::before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 7px;
    }
    &.active::after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        bottom: 9px;
    }
}

	